* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Roboto, Lato, Helvetica, Arial, sans-serif;
  color: #030303;
}

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column
}

aside {
  width: 250px;
}


.shape {
  margin: 10px;
  height: 40px;
  width: 60px;
  border: solid 2px black;
}
.shape:hover{
    border: 2px solid #55e5f8;
}

.circle {
  width: 40px;
  border-radius: 50%;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.properties.panel {
  margin-top: 10px;
  display: none;
  position: absolute; 
  top: 40px; 
  flex-direction: row;
  z-index:5;
  width: 100%;
  justify-content: center;
}
.visible{
  display: flex !important; 
}
.hide {
  display: none !important; 
}

.presence.panel{
    justify-content: flex-end; 
    flex-direction: row; 
}

.palette.panel {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    background-color: #fbfbfb;
}

.key {
  color: lightslategray;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  height: 25px;
  margin-left:12px; 
  margin-right:12px;
}

.value {
  color: darkslategray;
  font-weight: bolder;
}

.no-data {
  color: darkslategray;
}

.canvas {
  width: 100%;
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.buttons button {
  margin: 4px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 4px;
}

.buttons button:hover {
  background: darkgray;
}

.phantomcursor {
    width: 1.5rem; 
    height: 1.5rem; 
    border: 2px solid black; 

    border-radius: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
    pointer-events: none; 
    transition: all 0.1s linear; 
    transform-origin: 150%, 150%;
    z-index: 999; 
}
.user {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.user .icon {
    display: inline-block;
    position: absolute;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #0000008f;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:14px; 
    
    top: -5px;
    right: 105%;
   
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }